@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

$primary-cyan: hsl(179, 62%, 43%);
$primary-yellow: hsl(71, 73%, 54%);
$neutral-gray: hsl(204, 43%, 93%);
$neutral-blue: hsl(218, 22%, 67%);
$bg-why: #4ABEBD;

$font-karla: 'Karla', sans-serif;

body {
    font-family: $font-karla;
    font-size: 1.56rem;
    background-color: $neutral-gray;
}

h2 {
    font-size: 1.75rem;
    padding-bottom: 17px;
}

/*-----------------------INTRODUCTION SECTION----------------------------------------------*/
h1 {
    color: $primary-cyan;
    padding-bottom: 26px;
    font-size: 2.35rem;
}

#introduction {
    background-color: white;
    color: $neutral-blue;
}

#introduction > span {
    display: block;
    color: $primary-yellow;
    padding-bottom: 11px;
    font-size: 1.75rem;
    font-weight: 700;
}

#introduction > p {
    line-height: 24px;
    width: 60ch;
}

/*-----------------------SUBSCRIPTION SECTION----------------------------------------------*/
#subscription,
#why {
    color: white;
}

#subscription {
    background-color: $primary-cyan;
}

.money {
    font-size: 3.1rem;
    font-weight: 700;
    padding-right: 12px;
}

.period {
    color: #ddd;
}

#subscription > div{
    display: flex;
    padding-bottom: 8.5px;
    align-items: center;
}

#subscription > span {
    display: block;
    padding-bottom: 29px;
}

button {
    background-color: $primary-yellow;
    font-weight: 700;
    font-size: 1.4rem;
    color: white;
}

/*-----------------------WHY SECTION----------------------------------------------*/
#why {
    background-color: $bg-why;
    
    h2 {
        padding-bottom: 19px;
    }

    p {
        font-size: 1.35rem;
        line-height: 20px;
    }
}


