main {
    display: grid;
    width: 100%;
    max-width: 635px;
    border-radius: 10px;
    overflow:hidden;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    grid-template-areas:
        "introduction introduction"
        "subscription why";
        
        #introduction {
            grid-area: introduction;
        }
        
        #subscription {
            grid-area: subscription;
        }
        
        #why {
            grid-area: why;
        }
}

@media screen and ( max-width: 505px ) {
    main {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: 
            "introduction"
            "subscription"
            "why";
    }
}